#forgot {
  background: url(../images/isda.jpg) center center / cover no-repeat fixed;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#forgot::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.forgot-container {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);;
  border-radius: 20px;
  padding: 40px 60px;
  text-align: center;
  color: white;
  width: 350px;
}

.forgot-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.forgot-container p {
  font-size: 14px;
  margin-bottom: 20px;
}

.forgot-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 25px;
  outline: none;
  text-align: center;
}

.forgot-container button {
  background-color: #00a884;
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.forgot-container button:hover {
  background-color: #008f73;
}

.login-link {
  margin-top: 15px;
  color: #e0e0e0;
}

.login-link a {
  color: #0b0742;
  font-weight: bold;
  text-decoration: none;
}
