#logout {
  background: url(../images/isda.jpg) center center / cover no-repeat fixed;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;      
  justify-content: center;  
  overflow: hidden;
}

#logout::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

#logo img {
  width: 130px;
  border: solid rgb(21, 4, 4) 1px;
  border-radius: 50%;
  background-color: white;
  margin: 100px;
  width: 200px;
}


.cardbg {
  background: rgba(252, 250, 250, 0.5);
  position: relative;
  z-index: 5;
  width: 90%;
  max-width: 600px;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  height: 300px;
}

.cardbg h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
  #logout {
    background-attachment: scroll;
  }

  .cardbg {
    width: 85%;
    padding: 25px 15px;
    padding-top: 0;
    height: 200px;
    margin-top: 220px;
  }
 
}
